# fly.toml app configuration file generated for web-app-project-main on 2025-12-23T10:51:04+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'web-app-project-main'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']
  ha = false

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
